aiohttp>=3.7.4
pyserial==3.5
pyserial-asyncio==0.5
aiohttp-xmlrpc==1.3.0
progressbar2==3.53.1
requests==2.26.0
networkx~=2.8.4
progressbar~=2.5
numpy

meshmesh~=1.0.1
PySide6~=6.4.2
setuptools~=58.1.0